//////////////////////////
//     BREAKPOINTS      //
//////////////////////////

$xxs: 320;
$xs: 480;
$sm: 768;
$md: 992;
$lg: 1200;
$xl: 1441;
$xxl: 1920;

//////////////////////////
//        COLORS        //
//////////////////////////

$black: #000;
$white: #fff;

//////////////////////////
//         FONTS        //
//////////////////////////
$text-font: sans-serif;

//////////////////////////
//        MIXINS        //
//////////////////////////

@mixin breakpoint($point) {
  @media (min-width: $point + 'px') {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}
